<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ settings.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/bootstrap.min.css" />
</head>

    <div id="homePage" class="container-fluid">

        <style>
            code
            {
                display: block;
                padding: 5px;
                background: #141414;
                font: 0.8em 'Andale Mono', Consolas, 'Courier New';
                line-height: 1.6em;
                border-radius: 3px;
            }

            a.card
            {
                width: 300px;
                min-height: 65px;
                float: left;
                margin: 0.2em;
            }

            a.card .card-body
            {
                padding: 0.4em;
            }

            a.card:hover
            {
                text-decoration: none;
                border-color: navy;
            }

            a.card img
            {
                max-width: 24px;
                max-height: 24px;
            }

            ul
            {
                margin-bottom: 0;
            }
        </style>

        <h1 class="mt-4"><img src="/logo.png" style="width: 64px; height: 64px;" /> {{ settings.title }} <small> {{ env.ROXY_WEB_DOMAIN }}</small></h1>

        <h2 class="mt-4">Services</h2>

        <div class="clearfix">
            {% if services is defined %}
            {% for name, service in services|dictsort %}

                {% if service.url is defined %}
                    {% set url = service.url %}
                {% else %}
                    {% set url = "//" ~ name ~ "." ~ env.ROXY_WEB_DOMAIN %}
                {% endif %}
                <a href="{{ url }}" title="{{ name }}" class="card">
                    <div class="card-body">
                        <div class="">
                            <span class="text-primary card-title"><img src="{{ url }}/favicon.ico"  onerror="this.style.display='none'" /> {{ name }}</span>
                            {% if service.tags is defined %}{% for tag in service.tags %}
                            <label class="badge text-dark" style="background: {{ settings.tags[tag] }}">{{ tag }}</label>
                            {% endfor %}{% endif %}
                        </div>
                        <div class="card-text text-secondary small">
                            {% if service.url is defined %}
                                {{ service.url }}
                            {% else %}
                            <ul>
                                {% for backend in service.backends %}
                                <li>{{ backend | tojson | safe }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </a>

            {% endfor %}
            {% endif %}
        </div>

        {% if services is defined %}

        <h2 class="mt-4">DNS</h2>

        <section>
            <h4>/etc/hosts <small>(if no DNS)</small></h4>
            <code>
               (IP) {% for name, service in services.iteritems() %}{{ name }}.{{ env.ROXY_WEB_DOMAIN }} {% endfor %}
            </code>
        </section>

        {% endif %}

        <br /><br />

        <footer class="container text-center text-muted">
            {{ env.ROXY_VERSION }} - generated at {{ build_date }} - Made by Thomas Decaux (@ebuildy) from SubitoLabs
        </footer>

        <br />

    </div>

</body>
</html>
